/*******************************
QUARCA SKIN LESS/STYLESHEET

TABLE OF CONTENTS
    0.0 - SKINS
    1.0 - GLOBALS
    2.0 - HEADER
    3.0 - SIDEBAR
    4.0 - CHAT/MESSENGER
    5.0 - TASKS/TO-DO LIST
    6.0 - INBOX/SENT SIDEBAR
    7.0 - NOTIFICATIONS SIDEBAR
    8.0 - MAIN
    9.0 - GRID
    10.0 - PANES
    11.0 - FOOTER
    12.0 - DRAG & DROP
    13.0 - LISTS
    14.0 - PAGINATION
    15.0 - LABELS
    16.0 - BADGES
    17.0 - POPOVER
    18.0 - BUTTONS
    19.0 - BUTTON DROPDOWNS
    20.0 - BUTTON GROUPS
    21.0 - TABS
    22.0 - ACCORDION
    23.0 - PROGRESS BAR
    24.0 - MODALS
    25.0 - ALERTS
    26.0 - CAROUSEL
    27.0 - TABLES
    28.0 - FORMS
    29.0 - PAGE - MEMBERSHIP
    30.0 - LOGGING OUT PAGE
    31.0 - PAGE - PROFILE
*******************************/
/*******************************
SKINS
*******************************/
/* ----- THEME ----- */
/*Header & Sidebar main color*/
/*Headlines*/
/*Main elements color - Default: green*/
/* ----- Main Body Color ----- */
/*Background Color*/
/*Page title and panes*/
/* ----- SIDEBAR COLOR SETTINGS ----- */
/*Sidebar links/text color - Default: white*/
/*Scrollbar color*/
/* ----- PROFILE STATUS ----- */
/* ----- MESSENGER SKIN ----- */
/* ----- UI SKINS ----- */
/* ----- UI KIT ----- */
/*******************************
GLOBALS
*******************************/
body {
  color: #666666;
}
/* ----- HEADINGS ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #553537;
}
/*******************************
HEADER
*******************************/
.header {
  background-color: #000000;
}
.navbar-header {
  background: #000000;
}
/* ----- SIDEBAR SWITCH ----- */
.sidebar-switch,
.sidebar-switch:hover {
  color: #ffffff;
}
.sidebar-toggle .sidebar-switch {
  color: #000000;
}
/* ----- HEADER ICONS/BUTTONS ----- */
.header-navbar .navbar-toggle {
  background-color: #000000;
  color: #ffffff;
}
/*Search*/
.header-navbar .navbar-form .form-control {
  background-color: #141414;
  border-color: #141414;
  color: #ffffff;
}
.header-navbar .navbar-form .btn {
  background-color: #141414;
  color: #808080;
}
/*Placeholder*/
.header-navbar .navbar-form .form-control::-webkit-input-placeholder {
  color: #808080;
}
.header-navbar .navbar-form .form-control:-moz-placeholder {
  color: #808080;
}
.header-navbar .navbar-form .form-control::-moz-placeholder {
  color: #808080;
}
.header-navbar .navbar-form .form-control:-ms-input-placeholder {
  color: #808080;
}
/*Icons Navigation*/
.header-navbar .navbar-nav > li > a {
  border-color: #141414 !important;
  color: #808080;
}
/*Responsive*/
@media (max-width: 767px) {
  /*Sidebar Switch*/
  .sidebar-switch {
    background-color: #000000;
  }
  /*Navbar Collapse*/
  .header-navbar .navbar-collapse {
    background-color: #0a0a0a;
  }
}
/*End*/
/*******************************
SIDEBAR
*******************************/
.sidebar {
  background-color: #000000;
}
.sidebar-content h4 {
  background-color: #0d0d0d;
  color: #333333;
}
/* ----- SIDEBAR/MESSENGER SCROLLPANE ----- */
.sidebar-container .jspDrag {
  background-color: #ffffff;
}
.chat-scrollpane .jspDrag {
  background-color: #000000;
}
/* ----- SIDEBAR-PROFILE ----- */
.sidebar-profile {
  background-color: #16A085;
}
.profile-picture img {
  border-color: #ffffff;
}
.sidebar-profile h6 {
  color: #ffffff;
}
.sidebar-profile h5 {
  color: #ffffff;
}
/*Change Status*/
.sidebar-profile .btn-group a {
  color: #ffffff;
}
/*Color*/
.sidebar-profile.online {
  background-color: #16A085;
}
.sidebar-profile.busy {
  background-color: #D24D57;
}
.sidebar-profile.away {
  background-color: #EB974E;
}
.sidebar-profile.offline {
  background-color: #95A5A6;
}
/*Chat Labels/Status*/
.label-online {
  background-color: #16A085;
}
.label-busy {
  background-color: #D24D57;
}
.label-away {
  background-color: #EB974E;
}
.label-offline {
  background-color: #95A5A6;
}
/* ----- SIDEBAR TABS ----- */
.sidebar .tab-nav > li {
  border-bottom-color: #141414;
}
.sidebar .tab-nav > li.active {
  border-bottom-color: #000000;
}
.sidebar .tab-nav > li > a {
  color: #ffffff;
}
.sidebar .tab-nav > li.active > a {
  color: #000000;
}
.sidebar .tab-nav > li > a:hover {
  color: #000000;
}
/*Badge*/
.sidebar .tab-nav > li > a .badge {
  background-color: #141414;
}
/*Tab Content*/
.sidebar .tab-content {
  color: #ffffff;
}
/* ----- SIDEBAR NAVIGATION ----- */
.sidebar-nav > li {
  border-color: #080808 !important;
}
.sidebar-nav > li > a,
.sidebar-nav ul > li > a {
  color: #ffffff;
}
.sidebar-nav > li > a:hover {
  background-color: #050505;
}
.sidebar-nav > li.active > a {
  background-color: #080808;
}
/*Sub Menus*/
.sidebar-nav ul {
  background: #030303;
}
.sidebar-nav ul > li > a:hover,
.sidebar-nav ul > li.active > a {
  background-color: #050505;
}
.sidebar-nav ul ul {
  background: #000000;
}
/*******************************
CHAT/MESSENGER
*******************************/
/*Friend List*/
.friends-list > li {
  border-bottom-color: #080808;
}
.friends-list > li:first-child {
  border-top-color: #080808;
}
.friends-list > li > a {
  color: #ffffff;
}
.friends-list > li > a:hover {
  background-color: #050505;
}
/*Colors*/
.friends-list > .online > a {
  border-color: #16A085;
}
.friends-list > .busy > a {
  border-color: #D24D57;
}
.friends-list > .away > a {
  border-color: #EB974E;
}
.friends-list > .offline > a {
  border-color: #95A5A6;
}
/*Chat*/
.messenger-wrap {
  background-color: #ffffff;
}
/*Messenger*/
/*Header*/
.messenger-header .toggle-list {
  color: #ffffff;
}
.friend-chat-profile {
  color: #ffffff;
}
.friend-chat-profile.online {
  background-color: #16A085;
}
.friend-chat-profile.busy {
  background-color: #D24D57;
}
.friend-chat-profile.away {
  background-color: #EB974E;
}
.friend-chat-profile.offline {
  background-color: #95A5A6;
}
/*Content*/
.messages .message {
  background-color: #f6f6f6;
  color: #000;
}
.messages .message .time {
  color: #999999;
}
.friend-message .message {
  background-color: #e9e9e9;
}
.friend-message .message:before {
  border-right-color: #e9e9e9;
}
.my-message .message:before {
  border-left-color: #f6f6f6;
}
/*Footer*/
.messenger-footer {
  background-color: #000000;
}
/*Addons*/
.messenger-footer .dropdown-toggle {
  color: #ffffff;
}
.messenger-footer .dropdown-menu {
  background-color: #de5555;
}
.messenger-footer .dropdown-menu > li > a:hover,
.messenger-footer .dropdown-menu .divider {
  background-color: #dc4848;
}
.messenger-footer .dropdown-menu:after {
  border-top-color: #de5555;
}
/*Message box*/
.messenger-footer .form-control,
.messenger-footer .form-control:focus {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #ffffff;
}
/*Placeholder*/
.messenger-footer .form-control::-webkit-input-placeholder {
  color: #808080;
}
.messenger-footer .form-control:-moz-placeholder {
  color: #808080;
}
.messenger-footer .form-control::-moz-placeholder {
  color: #808080;
}
.messenger-footer .form-control:-ms-input-placeholder {
  color: #808080;
}
/*******************************
TASKS/TO-DO LIST
*******************************/
/* ----- FORM ----- */
.tasks form .form-control {
  border-color: #141414;
  color: #ffffff;
}
.tasks form .btn {
  background-color: #141414;
  color: #808080;
}
/*Placeholder*/
.tasks form .form-control::-webkit-input-placeholder {
  color: #808080;
}
.tasks form .form-control:-moz-placeholder {
  color: #808080;
}
.tasks form .form-control::-moz-placeholder {
  color: #808080;
}
.tasks form .form-control:-ms-input-placeholder {
  color: #808080;
}
/* ----- TASKS LIST ----- */
.task {
  background-color: #050505;
}
.check-task,
.task .delete-task {
  background-color: #0a0a0a;
}
.check-task {
  color: #1a1a1a;
}
.task.checked .check-task,
.task.checked .task-text {
  color: #000000;
}
.task .delete-task {
  color: #262626;
}
/*******************************
INBOX/SENT SIDEBAR
*******************************/
/* ----- TABS ----- */
.sidebar-emails-container .nav-tabs > li {
  border-color: #141414;
}
.sidebar-emails-container .nav-tabs > li.active {
  border-bottom-color: #000000;
}
.sidebar-emails-container .nav-tabs > li > a {
  color: #ffffff;
}
.sidebar-emails-container .nav-tabs > li > a:hover,
.sidebar-emails-container .nav-tabs > li.active > a:hover,
.sidebar-emails-container .nav-tabs > li.active > a:focus {
  color: #000000;
}
/* ----- EMAILS LIST ----- */
.emails-list > li > a {
  background-color: #050505;
}
/*Short Emails*/
.email-thumb {
  color: #ffffff;
  background-color: #0d0d0d;
}
.email-short h6 {
  color: #ffffff;
}
.email-short small {
  color: #ffffff;
}
/*When*/
.emails-list .when {
  color: #ffffff;
}
/*******************************
NOTIFICATIONS SIDEBAR
*******************************/
.notifications > li {
  border-bottom-color: #080808;
}
.notifications a {
  color: #ffffff;
}
.notifications .icon {
  background-color: #080808;
}
.notifications a h6 {
  color: #ffffff;
}
/*******************************
MAIN
*******************************/
.main {
  background-color: #EDF0F5;
}
/* ----- PAGE TITLE ----- */
.page-title {
  background-color: #ffffff;
}
.page-title h1 {
  color: #b3b3b3;
}
.page-title h1 small {
  color: #666666;
}
.page-title h1:after {
  background-color: #ffffff;
}
/*******************************
GRID
*******************************/
.container-fluid.white {
  background-color: #ffffff;
}
/*******************************
PANES
*******************************/
.pane {
  background-color: #ffffff;
}
/* ----- PANE TITLES ----- */
.pane h2 {
  border-bottom-color: #f4f4f4;
}
.pane h2 span {
  border-bottom-color: #000000;
}
.pane h3 {
  border-bottom-color: #f4f4f4;
}
/*******************************
FOOTER
*******************************/
#footer {
  background-color: #fafafa;
  color: #666666;
}
/*******************************
DRAG & DROP
*******************************/
.grid-stack-item .grid-stack-item-content,
.grid-stack-item .placeholder-content {
  background-color: #ffffff;
}
.grid-stack-item .ui-resizable-handle {
  color: #666666;
}
.widget h2 span {
  border-bottom-color: #000000;
}
/*******************************
LISTS
*******************************/
/* ----- ORDERED ----- */
/*Ordered Normal*/
ol.normal > li {
  border-left-color: #f4f4f4;
}
/*Ordered Circle*/
ol.circle > li:before {
  color: #666666;
  background-color: #f4f4f4;
}
/* ----- LIST GROUP ----- */
.list-group-item {
  background-color: #f9f9f9;
}
/*List Group Icon*/
.list-group-item .icon {
  background-color: #f4f4f4;
}
/*List Group Ordered*/
.list-group.order .list-group-item:before {
  color: #666666;
  background-color: #f4f4f4;
}
/*List Group Badges*/
.list-group-item .holder {
  background-color: #f4f4f4;
}
.list-group-item .badge {
  color: #666666;
  background-color: #e7e7e7;
}
/*******************************
PAGINATION
*******************************/
.pagination > li > a,
.pagination > li > span {
  border-color: #f4f4f4;
  color: #666666;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #fcfcfc;
  border-color: #f4f4f4;
  color: #000000;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #000000;
  border-color: #000000;
}
/* ----- PAGER ----- */
.pager li > a,
.pager li > span {
  border-color: #f4f4f4;
  color: #666666;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #fcfcfc;
  color: #000000;
}
/*******************************
LABELS
*******************************/
.label-default {
  color: #666666;
}
/* ----- COLORS ----- */
.label-default {
  background-color: #f4f4f4;
}
.label-primary {
  background-color: #4894af;
}
.label-success {
  background-color: #16A085;
}
.label-info {
  background-color: #59abe3;
}
.label-warning {
  background-color: #f1c40f;
}
.label-danger {
  background-color: #e26a6a;
}
/*******************************
BADGES
*******************************/
.badge-default {
  color: #666666;
}
/* ----- COLORS ----- */
.badge-default {
  background-color: #f4f4f4;
}
.badge-primary {
  background-color: #4894af;
}
.badge-success {
  background-color: #16A085;
}
.badge-info {
  background-color: #59abe3;
}
.badge-warning {
  background-color: #f1c40f;
}
.badge-danger {
  background-color: #e26a6a;
}
/*******************************
POPOVER
*******************************/
.popover {
  border-color: #000000;
}
.popover-title {
  background-color: #000000;
}
.popover.top > .arrow {
  border-top-color: #e0e0e0;
}
.popover.right > .arrow {
  border-right-color: #e0e0e0;
}
.popover.bottom > .arrow {
  border-bottom-color: #e0e0e0;
}
.popover.left > .arrow {
  border-left-color: #e0e0e0;
}
/*******************************
BUTTONS
*******************************/
/* ----- COLORS ----- */
.btn-default {
  background-color: #f4f4f4;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e7e7e7;
}
.btn-primary {
  background-color: #4894af;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #41859d;
}
.btn-success {
  background-color: #16A085;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #138a72;
}
.btn-info {
  background-color: #59abe3;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #43a0df;
}
.btn-warning {
  background-color: #f1c40f;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #dab10d;
}
.btn-danger {
  background-color: #e26a6a;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #de5555;
}
.btn-dark {
  background-color: #666666;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:focus {
  background-color: #595959;
  color: #fff;
}
/* ----- ICONS COLORS ----- */
.btn-default .icon {
  background-color: #e7e7e7;
}
.btn-default:hover .icon,
.btn-default:focus .icon {
  background-color: #e0e0e0;
}
.btn-primary .icon {
  background-color: #41859d;
}
.btn-primary:hover .icon,
.btn-primary:focus .icon {
  background-color: #3c7c92;
}
.btn-success .icon {
  background-color: #138a72;
}
.btn-success:hover .icon,
.btn-success:focus .icon {
  background-color: #117c67;
}
.btn-info .icon {
  background-color: #43a0df;
}
.btn-info:hover .icon,
.btn-info:focus .icon {
  background-color: #3699dd;
}
.btn-warning .icon {
  background-color: #dab10d;
}
.btn-warning:hover .icon,
.btn-warning:focus .icon {
  background-color: #cba50c;
}
.btn-danger .icon {
  background-color: #de5555;
}
.btn-danger:hover .icon,
.btn-danger:focus .icon {
  background-color: #db4848;
}
.btn-dark .icon {
  background-color: #595959;
}
.btn-dark:hover .icon,
.btn-dark:focus .icon {
  background-color: #525252;
}
/* ----- OUTLINE COLORS ----- */
.btn-default.btn-line {
  border-color: #f4f4f4;
}
.btn-default.btn-line:hover,
.btn-default.btn-line:focus {
  background-color: #f4f4f4;
}
.btn-primary.btn-line {
  border-color: #4894af;
  color: #4894af;
}
.btn-primary.btn-line:hover,
.btn-primary.btn-line:focus {
  background-color: #4894af;
}
.btn-success.btn-line {
  border-color: #16A085;
  color: #16A085;
}
.btn-success.btn-line:hover,
.btn-success.btn-line:focus {
  background-color: #16A085;
}
.btn-info.btn-line {
  border-color: #59abe3;
  color: #59abe3;
}
.btn-info.btn-line:hover,
.btn-info.btn-line:focus {
  background-color: #59abe3;
}
.btn-warning.btn-line {
  border-color: #f1c40f;
  color: #f1c40f;
}
.btn-warning.btn-line:hover,
.btn-warning.btn-line:focus {
  background-color: #f1c40f;
}
.btn-danger.btn-line {
  border-color: #e26a6a;
  color: #e26a6a;
}
.btn-danger.btn-line:hover,
.btn-danger.btn-line:focus {
  background-color: #e26a6a;
}
.btn-dark.btn-line {
  border-color: #666666;
  color: #666666;
}
.btn-dark.btn-line:hover,
.btn-dark.btn-line:focus {
  background-color: #666666;
}
/* ----- OUTLINE + ICONS ----- */
.btn-default.btn-line.btn-icon:hover .icon,
.btn-default.btn-line.btn-icon:focus .icon {
  background-color: #e7e7e7;
  border-right-color: #e7e7e7;
}
.btn-primary.btn-line.btn-icon:hover .icon,
.btn-primary.btn-line.btn-icon:focus .icon {
  background-color: #41859d;
  border-right-color: #41859d;
}
.btn-success.btn-line.btn-icon:hover .icon,
.btn-success.btn-line.btn-icon:focus .icon {
  background-color: #138a72;
  border-right-color: #138a72;
}
.btn-info.btn-line.btn-icon:hover .icon,
.btn-info.btn-line.btn-icon:focus .icon {
  background-color: #43a0df;
  border-right-color: #43a0df;
}
.btn-warning.btn-line.btn-icon:hover .icon,
.btn-warning.btn-line.btn-icon:focus .icon {
  background-color: #dab10d;
  border-right-color: #dab10d;
}
.btn-danger.btn-line.btn-icon:hover .icon,
.btn-danger.btn-line.btn-icon:focus .icon {
  background-color: #de5555;
  border-right-color: #de5555;
}
.btn-dark.btn-line.btn-icon:hover .icon,
.btn-dark.btn-line.btn-icon:focus .icon {
  background-color: #595959;
  border-right-color: #595959;
}
/*******************************
BUTTON DROPDOWNS
*******************************/
/* ----- COLORS ----- */
.dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default,
.dropdown-menu.default > li > a:hover,
.dropdown-menu.default .divider {
  background-color: #e7e7e7;
}
.dropdown-menu.default {
  background-color: #f4f4f4;
}
.dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary,
.dropdown-menu.primary > li > a:hover,
.dropdown-menu.primary .divider {
  background-color: #41859d;
}
.dropdown-menu.primary {
  background-color: #4894af;
}
.dropdown-toggle.btn-success,
.open > .dropdown-toggle.btn-success,
.dropdown-menu.success > li > a:hover,
.dropdown-menu.success .divider {
  background-color: #138a72;
}
.dropdown-menu.success {
  background-color: #16A085;
}
.dropdown-toggle.btn-info,
.open > .dropdown-toggle.btn-info,
.dropdown-menu.info > li > a:hover,
.dropdown-menu.info .divider {
  background-color: #43a0df;
}
.dropdown-menu.info {
  background-color: #59abe3;
}
.dropdown-toggle.btn-warning,
.open > .dropdown-toggle.btn-warning,
.dropdown-menu.warning > li > a:hover,
.dropdown-menu.warning .divider {
  background-color: #dab10d;
}
.dropdown-menu.warning {
  background-color: #f1c40f;
}
.dropdown-toggle.btn-danger,
.open > .dropdown-toggle.btn-danger,
.dropdown-menu.danger > li > a:hover,
.dropdown-menu.danger .divider {
  background-color: #de5555;
}
.dropdown-menu.danger {
  background-color: #e26a6a;
}
.dropdown-toggle.btn-dark,
.open > .dropdown-toggle.btn-dark,
.dropdown-menu.dark > li > a:hover,
.dropdown-menu.dark .divider {
  background-color: #595959;
}
.dropdown-menu.dark {
  background-color: #666666;
}
/*******************************
BUTTON GROUPS
*******************************/
/* ----- COLORS ----- */
.btn-group.quarca .btn-default {
  border: 1px solid #cecece;
}
.btn-group.quarca .btn-primary {
  border: 1px solid #326679;
}
.btn-group.quarca .btn-success {
  border: 1px solid #107360;
}
.btn-group.quarca .btn-info {
  border: 1px solid #2388cd;
}
.btn-group.quarca .btn-warning {
  border: 1px solid #aa8a0a;
}
.btn-group.quarca .btn-danger {
  border: 1px solid #d62a2a;
}
.btn-group.quarca .btn-dark {
  border: 1px solid #404040;
}
/*******************************
TABS
*******************************/
/* ----- NAV ----- */
.nav-tabs {
  background-color: #f4f4f4;
}
.nav-tabs > li > a {
  color: #999999;
}
.nav-tabs > li > a:hover {
  background-color: #000000;
}
.nav-tabs > li > a:focus {
  background-color: #fcfcfc;
  color: #999999;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #fcfcfc;
  color: #000000;
}
/* ----- NAV DROPDOWN ----- */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #000000;
}
.nav-tabs .dropdown-menu {
  background-color: #f4f4f4;
}
.nav-tabs .dropdown-menu > li > a {
  color: #999999;
}
.nav-tabs .dropdown-menu > li > a:hover,
.nav-tabs .dropdown-menu > li > a:focus {
  background-color: #efefef;
}
.nav-tabs .dropdown-menu > .active > a,
.nav-tabs .dropdown-menu > .active > a:hover,
.nav-tabs .dropdown-menu > .active > a:focus {
  background-color: #000000;
}
/* ----- TAB CONTENT ----- */
.tab-content {
  background-color: #fcfcfc;
}
/*******************************
ACCORDION
*******************************/
.panel {
  background-color: #fcfcfc;
}
.panel-default > .panel-heading {
  background-color: #f4f4f4;
  color: #999999;
}
/*Icons*/
.more-less {
  color: #16A085;
}
.more-less.fa-minus {
  color: #e26a6a;
}
/*******************************
PROGRESS BAR
*******************************/
.progress {
  background-color: #f4f4f4;
}
/* ----- COLORS ----- */
.progress-bar-success {
  background-color: #16A085;
}
.progress-bar-info {
  background-color: #59abe3;
}
.progress-bar-warning {
  background-color: #f1c40f;
}
.progress-bar-danger {
  background-color: #e26a6a;
}
/*******************************
MODALS
*******************************/
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #4894af;
}
.modal-primary .modal-content {
  background-color: #448ba4;
}
.modal-primary .btn-modal {
  background-color: #41859d;
}
.modal-primary .btn-modal:hover {
  background-color: #39758b;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #16A085;
}
.modal-success .modal-content {
  background-color: #14937a;
}
.modal-success .btn-modal {
  background-color: #138a72;
}
.modal-success .btn-modal:hover {
  background-color: #107360;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #f1c40f;
}
.modal-warning .modal-content {
  background-color: #e3b90d;
}
.modal-warning .btn-modal {
  background-color: #dab10d;
}
.modal-warning .btn-modal:hover {
  background-color: #c29d0b;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #e26a6a;
}
.modal-danger .modal-content {
  background-color: #e05d5d;
}
.modal-danger .btn-modal {
  background-color: #de5555;
}
.modal-danger .btn-modal:hover {
  background-color: #da3f3f;
}
.modal-dark .modal-header,
.modal-dark .modal-footer {
  background-color: #666666;
}
.modal-dark .modal-content {
  background-color: #5e5e5e;
}
.modal-dark .btn-modal {
  background-color: #595959;
}
.modal-dark .btn-modal:hover {
  background-color: #4d4d4d;
}
/*******************************
ALERTS
*******************************/
.alert-success {
  background-color: #16A085;
}
.alert-success .icon {
  background-color: #138a72;
  color: #1ccdaa;
}
.alert-info {
  background-color: #59abe3;
}
.alert-info .icon {
  background-color: #43a0df;
  color: #85c1ea;
}
.alert-warning {
  background-color: #f1c40f;
}
.alert-warning .icon {
  background-color: #dab10d;
  color: #f4d03f;
}
.alert-danger {
  background-color: #e26a6a;
}
.alert-danger .icon {
  background-color: #de5555;
  color: #ea9595;
}
/*******************************
CAROUSEL
*******************************/
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background-color: #000000 !important;
  border-color: #000000;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #000000;
}
/*******************************
TABLES
*******************************/
.table > thead > tr > th {
  background-color: #000000;
}
.table > tbody > tr > td {
  border-top-color: #f4f4f4;
}
/* ----- BORDERED ----- */
.table-bordered {
  border-color: #000000;
}
.table-bordered > tbody > tr > td {
  border-color: #f4f4f4;
}
/* ----- STRIPED ----- */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
/* ----- HOVER ----- */
.table-hover > tbody > tr:hover {
  background-color: #fcfcfc;
}
/* ----- RESPONSIVE ----- */
.table-responsive {
  border-color: #000000;
}
/* ----- FILTERABLE ----- */
.table-head {
  background: #f9f9f9;
}
/*******************************
FORMS
*******************************/
label,
.radio label,
.checkbox label {
  color: #666666;
}
/* ----- INPUT FIELDS ----- */
.form-control {
  border-color: #efefef;
  color: #666666;
}
.form-control:focus {
  background-color: #fefefe;
  border-color: #eaeaea;
  color: #000000;
}
/* ----- TAGS INPUT ----- */
div.tagsinput {
  border-color: #efefef;
}
div.tagsinput span.tag {
  background-color: #f4f4f4;
  color: #666666;
}
div.tagsinput span.tag a {
  color: #c1c1c1;
}
div.tagsinput input {
  color: #000000;
}
/* ----- SELECTS ----- */
.default .btn-select {
  background-color: #f4f4f4;
}
.default .dropdown-menu {
  background-color: #e7e7e7;
}
.default .dropdown-menu > li > a:hover,
.default .dropdown-menu > .active > a {
  background-color: #dbdbdb;
}
.default .dropdown-menu > li.selected > a {
  background-color: #e0e0e0;
}
.primary .btn-select {
  background-color: #4894af;
}
.primary .dropdown-menu {
  background-color: #41859d;
}
.primary .dropdown-menu > li > a:hover,
.primary .dropdown-menu > .active > a {
  background-color: #39758b;
}
.primary .dropdown-menu > li.selected > a {
  background-color: #3c7c92;
}
.primary .dropdown-menu .divider {
  background-color: #41859d;
}
.primary .dropdown-header {
  color: #234855;
}
.success .btn-select {
  background-color: #16A085;
}
.success .dropdown-menu {
  background-color: #138a72;
}
.success .dropdown-menu > li > a:hover,
.success .dropdown-menu > .active > a {
  background-color: #107360;
}
.success .dropdown-menu > li.selected > a {
  background-color: #117c67;
}
.success .dropdown-menu .divider {
  background-color: #138a72;
}
.success .dropdown-header {
  color: #073028;
}
.info .btn-select {
  background-color: #59abe3;
}
.info .dropdown-menu {
  background-color: #43a0df;
}
.info .dropdown-menu > li > a:hover,
.info .dropdown-menu > .active > a {
  background-color: #2d95dc;
}
.info .dropdown-menu > li.selected > a {
  background-color: #3699dd;
}
.info .dropdown-menu .divider {
  background-color: #43a0df;
}
.info .dropdown-header {
  color: #1b6ba1;
}
.warning .btn-select {
  background-color: #f1c40f;
}
.warning .dropdown-menu {
  background-color: #dab10d;
}
.warning .dropdown-menu > li > a:hover,
.warning .dropdown-menu > .active > a {
  background-color: #c29d0b;
}
.warning .dropdown-menu > li.selected > a {
  background-color: #cba50c;
}
.warning .dropdown-menu .divider {
  background-color: #dab10d;
}
.warning .dropdown-header {
  color: #796307;
}
.danger .btn-select {
  background-color: #e26a6a;
}
.danger .dropdown-menu {
  background-color: #de5555;
}
.danger .dropdown-menu > li > a:hover,
.danger .dropdown-menu > .active > a {
  background-color: #da3f3f;
}
.danger .dropdown-menu > li.selected > a {
  background-color: #db4848;
}
.danger .dropdown-menu .divider {
  background-color: #de5555;
}
.danger .dropdown-header {
  color: #ab2121;
}
.dark .btn-select {
  background-color: #666666;
}
.dark .dropdown-menu {
  background-color: #595959;
}
.dark .dropdown-menu > li > a:hover,
.dark .dropdown-menu > .active > a {
  background-color: #4d4d4d;
}
.dark .dropdown-menu > li.selected > a {
  background-color: #525252;
}
.dark .dropdown-menu .divider {
  background-color: #595959;
}
.dark .dropdown-header {
  color: #262626;
}
/* ----- INPUT GROUP ----- */
.input-group-addon {
  border-color: #efefef;
}
/* ----- DATETIMEPICKER ----- */
.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background-color: #000000 !important;
}
.bootstrap-datetimepicker-widget td.today:before {
  border-bottom-color: #000000 !important;
}
.bootstrap-datetimepicker-widget td span.active {
  background-color: #000000 !important;
}
.bootstrap-datetimepicker-widget a[data-action] {
  color: #000000;
}
/*******************************
PAGE - MEMBERSHIP
*******************************/
.page-membership {
  background-color: #000000;
}
.member-container p {
  color: #333333;
}
/*******************************
LOGGING OUT PAGE
*******************************/
.logging-out {
  background-color: #000000;
}
/*******************************
PAGE - PROFILE
*******************************/
/* ----- PROFILE DETAILS ----- */
/*Details*/
.profile-details-container .detail {
  border-color: #e7e7e7;
}
.profile-details-container .detail.about {
  color: #999999;
}
/*Social*/
.profile-social a {
  background-color: #ececec;
  color: #cccccc;
}
.profile-social a:hover {
  color: #999999;
}
/* ----- TIMELINE ----- */
.profile-timeline-container {
  background-color: #dddddd;
}
.timeline:before {
  background-color: #ffffff;
}
/*Write Post*/
.timeline-write-post {
  background-color: #ffffff;
}
.write-post-footer {
  background-color: #ececec;
}
/*Post Icon*/
.timeline-post-icon {
  background-color: #ffffff;
  color: #d9d9d9;
}
/*Post Content*/
.timeline-post-content {
  background-color: #ffffff;
}
.timeline-post-content:after {
  border-left-color: #ffffff;
}
.right .timeline-post-content:after {
  border-right-color: #ffffff;
}
/*Post Footer*/
.timeline-post-content-footer {
  background-color: #ececec;
}
.timeline-post-content-footer a {
  color: #bfbfbf;
}
.timeline-post-content-footer .when {
  color: #bfbfbf;
}
@media (max-width: 992px) {
  /* ----- PROFILE TIMELINE ----- */
  .timeline-post-content:before {
    border-bottom-color: #ffffff;
  }
}
/*END*/

/*# sourceMappingURL=theme-qsocial.css.map */