<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/console.out" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yyyy HH:mm:ss}] [%t] [%p] [%c]:%L - %m%n" />
		</layout>
	</appender>
	
    <!-- FILE: Appender for Events log -->
    <appender name="eventAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="logs/events.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yyyy HH:mm:ss}] %m%n%n" />
        </layout>
    </appender>	

	<logger name="io.searchbox" additivity="false">
		<level value="WARN" />
		<appender-ref ref="fileAppender" />
	</logger>
	
	<logger name="com.qsocialnow" additivity="false">
		<level value="INFO" />
		<appender-ref ref="fileAppender" />
	</logger>

	<logger name="com.qsocialnow.elasticsearch" additivity="false">
		<level value="WARN" />
		<appender-ref ref="fileAppender" />
	</logger>

	<logger name="kafka" additivity="false">
		<level value="WARN" />
		<appender-ref ref="fileAppender" />
	</logger>

	<logger name="org.apache" additivity="false">
		<level value="WARN" />
		<appender-ref ref="fileAppender" />
	</logger>

	<logger name="org.I0Itec" additivity="false">
		<level value="WARN" />
		<appender-ref ref="fileAppender" />
	</logger>
	
    <logger name="eventLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="eventAppender" />
    </logger>	

	<root>
		<priority value="INFO" />
		<appender-ref ref="fileAppender" />
	</root>

</log4j:configuration>