<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd        
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<import resource="cache.xml" />

	<context:property-placeholder location="${extPropDir:classpath:}application.properties" ignore-unresolvable="true"/>
	
	<bean id="zookeeperClient" init-method="start" destroy-method="close" class="org.apache.curator.framework.CuratorFrameworkFactory" factory-method="newClient">
 		<constructor-arg value="${app.zookeeper.host}"></constructor-arg>
 		<constructor-arg>
 			<bean class="org.apache.curator.retry.ExponentialBackoffRetry">
				<constructor-arg  value="1000"></constructor-arg>
				<constructor-arg  value="3"></constructor-arg>
			</bean>
 		</constructor-arg>
	</bean>
	
	<bean id="elasticDomainConfig" class="com.qsocialnow.config.ElasticConfigFactory" factory-method="findConfig">
 		<constructor-arg ref="zookeeperClient"></constructor-arg>
 		<constructor-arg value="${app.elastic.config.configurator.path}"></constructor-arg>
	</bean>

	<bean id="domainElasticService" class="com.qsocialnow.elasticsearch.services.config.DomainService">
		<property name="configurator" ref="elasticDomainConfig"></property>
		<property name="triggerService" ref="triggerElasticService"></property>
		<property name="resolutionService" ref="resolutionElasticService"></property>
	</bean>

	<bean id="caseElasticService" class="com.qsocialnow.elasticsearch.services.cases.CaseTicketService">
         <constructor-arg ref="configurationProvider" />
    </bean>
    
    <bean id="registryService" class="com.qsocialnow.elasticsearch.services.cases.ActionRegistryService">
         <constructor-arg ref="configurationProvider" />
    </bean>
    
    <bean id="configurationProvider" class="com.qsocialnow.config.ElasticConfigFactory" factory-method="findConfig">
         <constructor-arg ref="zookeeperClient"></constructor-arg>
         <constructor-arg value="${app.elastic.cases.configurator.path}" />
    </bean>
	
	<bean id="resolutionElasticService" class="com.qsocialnow.elasticsearch.services.config.ResolutionService">
		<property name="configurator" ref="elasticDomainConfig"></property>
	</bean>
	
	<bean id="triggerElasticService" class="com.qsocialnow.elasticsearch.services.config.TriggerService">
		<property name="configurator" ref="elasticDomainConfig"></property>
	</bean>
	
	<bean id="serviceDiscoveryRegister" class="com.qsocialnow.ServiceDiscoveryRegister" destroy-method="close">
	</bean>

	<aop:aspectj-autoproxy />

	<context:component-scan base-package="com.qsocialnow.service, com.qsocialnow.persistence"
		annotation-config="true" />
	<context:annotation-config />
	
	<util:map id="actions">
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).CLOSE}" value-ref="closeCaseAction"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).REOPEN}" value-ref="reopenCaseAction"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).PENDING_RESPONSE}" value-ref="pendingResponseCaseAction"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).REGISTER_COMMENT}" value-ref="registerCommentCaseAction"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).RESOLVE}" value-ref="resolveCaseAction"/>
	</util:map>

</beans>