<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
    	http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
 	<context:component-scan base-package="com.qsocialnow" />
 	
 	<context:property-placeholder location="${extPropDir:classpath:}application.properties" ignore-unresolvable="true"/>
 	
 	<bean id="app" init-method="start" destroy-method="close" class="com.qsocialnow.responsedetector.App">
	</bean>
 	
 	<bean id="zookeeperClient" init-method="start" destroy-method="close" class="org.apache.curator.framework.CuratorFrameworkFactory" factory-method="newClient">
 		<constructor-arg value="${app.zookeeper.host}"></constructor-arg>
 		<constructor-arg>
 			<bean class="org.apache.curator.retry.ExponentialBackoffRetry">
				<constructor-arg  value="1000"></constructor-arg>
				<constructor-arg  value="3"></constructor-arg>
			</bean>
 		</constructor-arg>
	</bean>
	
	<bean id="kafkaProducer" init-method="start" destroy-method="close" class="com.qsocialnow.kafka.producer.Producer">
		<constructor-arg ref="kafkaConfig" />		
	</bean>
	
	<bean id="domainElasticService" class="com.qsocialnow.elasticsearch.services.config.DomainService">
	</bean>
	
	<bean id="caseElasticService" class="com.qsocialnow.elasticsearch.services.cases.CaseService">
	</bean>
	
	<bean id="kafkaConfig" class="com.qsocialnow.responsedetector.factories.KafkaProducerConfigFactory" factory-method="create">
		<constructor-arg ref="zookeeperClient" />
		<constructor-arg value="${app.kafka.config.znode.path}" />
	</bean>
	
	<util:list id="sourcesDetectors">
		<ref bean="twitterDetectorService" />
	</util:list>
	
	<bean id="twitterDetectorService" class="com.qsocialnow.responsedetector.service.TwitterDetectorService">
		
	</bean>
	
</beans>