<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
    	http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    	
   	<import resource="zookeeper.xml" />
   	<import resource="kafka.xml" />
   	<import resource="elastic.xml" />
   	<import resource="bigqueue.xml" />
   	<import resource="cache.xml" />
   	<import resource="twitter.xml" />
   	<import resource="facebook.xml" />
 
 	<context:component-scan base-package="com.qsocialnow" />
 	
 	<context:property-placeholder location="${extPropDir:classpath:}application.properties, classpath:config.properties" ignore-unresolvable="true"/>
 	
 	<bean id="app" init-method="start" destroy-method="close" class="com.qsocialnow.eventresolver.App">
	</bean>
 	
	<util:map id="actions">
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).TAG_CASE}" value-ref="tagCaseAction"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).TAG_SUBJECT}" value-ref="tagSubjectCaseAction"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.ActionType).REPLY}" value-ref="sendResponseCaseAction"/>
	</util:map>
	
	<util:map id="matchers">
    	<entry key="#{T(com.qsocialnow.common.model.config.WordFilterType).TEXT}" value-ref="textWordFilterMatcher"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.WordFilterType).AUTHOR}" value-ref="authorWordFilterMatcher"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.WordFilterType).HASHTAG}" value-ref="hashtagWordFilterMatcher"/>
    	<entry key="#{T(com.qsocialnow.common.model.config.WordFilterType).MENTION}" value-ref="mentionWordFilterMatcher"/>
	</util:map>
	
	<util:map id="sources">
    	<entry key="#{T(com.qsocialnow.common.util.FilterConstants).MEDIA_TWITTER}" value-ref="twitterSourceStrategy"/>
    	<entry key="#{T(com.qsocialnow.common.util.FilterConstants).MEDIA_FACEBOOK}" value-ref="facebookSourceStrategy"/>
	</util:map>
	
	<bean id="sourceService" class="com.qsocialnow.common.services.SourceService">
        <property name="zookeeperClient" ref="zookeeperClient"></property>
        <property name="blockedSourcesZnodePath" value="${app.blocked.sources.path}"></property>
    </bean>
	
</beans>